[submodule "Api_RateLimiter"]
	path = Api_RateLimiter
	url = https://github.com/Naseer-fez/Api_RateLimiter.git
[submodule "Credit_Score_Predictor"]
	path = Credit_Score_Predictor
	url = https://github.com/Naseer-fez/Credit_Score_Predictor.git
[submodule "Dates"]
	path = Dates
	url = https://github.com/Naseer-fez/Dates.git
[submodule "Fitness_Tracker"]
	path = Fitness_Tracker
	url = https://github.com/Naseer-fez/Fitness_Tracker.git
[submodule "Hosplital_Managment"]
	path = Hosplital_Managment
	url = https://github.com/Naseer-fez/Hosplital_Managment.git
[submodule "MineSweper_game"]
	path = MineSweper_game
	url = https://github.com/Naseer-fez/MineSweper_game.git
[submodule "music_rec"]
	path = music_rec
	url = https://github.com/Naseer-fez/music_rec.git
