<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Bmi-Calculator></Bmi-Calculator></title>
</head>

<body>
    <form action="/Calculator" method="POST">

        {% if messages %}
        <h3 style="color: red;">{{ messages }}</h3>
        {% endif %}
        <label for="weight">Entre Your weight:</label>
        <input type="number" id="weight" name="weight" required>
        <select name="kgs" id="kgs">
            <option value="kgs">kgs</option>
            <option value="lbs">lbs</option>
        </select>
        <br><br>
        <label for="Height">Entre Your Height:</label>
        <input type="number" id="Height" name="Height" required>
         <select name="FT" id="FT">
            <option value="cms">Cm'S</option>
            <option value="Inc">INC</option>
        </select>
        <br><br>


        <button type="submit" class="login-btn">submit</button>


    </form>



</body>

</html>