<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        {% if messages %}
        <h3 style="color: red;">{{ messages }}</h3>
        {% endif %}
    </header>
    <a href="/BmiCalculator">
        <div></div>
        <button type="button" class="login-btn">
            BMI</button>
    </a>
    <div></div>

    <a href="/Details">
        <div></div>
        <button type="button" class="login-btn">
            Your Details</button>
    </a>
    <div></div>
    <a href="/Logout">
        <div></div>
        <button type="button" class="login-btn">
            Signout</button>
    </a>
    <div></div>
    <div></div>
{% if Data and Data != "NO" %}
<div style="display: grid; grid-template-columns: repeat(7, 54px); column-gap: 5px; row-gap: 0px;">
    
{% for cell in Data %}
    {% if cell == "G" %}
        <div style="width: 50px; height: 40px; background-color: grey; border: 2px solid black;"></div>
    {% elif cell == "R" %}
        <div style="width: 50px; height: 40px; background-color: red; border: 2px solid black;"></div>
    {% elif cell == "Y" %}
        <div style="width: 50px; height: 40px; background-color: yellow; border: 2px solid black;"></div>
    {% elif cell == "N" %}
        <div style="width: 50px; height: 40px; background-color: black; border: 2px solid black;"></div>
    {% else %}
        <div style="width: 50px; height: 40px; background-color: green; border: 2px solid black;"></div>
    {% endif %}
{% endfor %}

</div>
{% else %}
    <p>No data available</p>
{% endif %}

    <form action="/DashBoard" method="POST">
    <input type="hidden" name="worked_out" value="true">
    <button type="submit" class="login-btn">
        Have You Worked out Today??
    </button>
</form>
    <div></div>

<a href="/Predictor">
        <div></div>
        <button type="button" class="login-btn">
            Get Few  Predictor</button>
           
    </a>
<a href="/Chat">
 <button type="button" class="login-btn">
            ChatBot</button>

</a>


</body>

</html>