<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Predict</title>
</head>
<body>
   <div></div>
    <form action="/Predictor" method="POST">
        <button type="Fat" class="login-btn">
            Fat Predictor</button>
    </form>
    <div></div>

{% if data is not none %}
    {% if data == 0 %}
        <h2 style="color: red;">Looks like you haven't filled the detail form</h2>
     <label>Fill the form :</label>   
        <a href="/Details">
    <button type="Fat" class="login-btn">
           Form </button>
        </a>
        {% elif data == -1 %}
        <h2>There is some error, it is taking too much time</h2>

    {% elif data > 0 %}
        <h2>Your Fat Percentage Is:</h2>
        <h2 style="color: red;">{{ data }}</h2>
    {% endif %}
{% endif %}
<div><div>
    <a href="/DashBoard">
    <button type="Fat" class="login-btn">
           Go back </button>
        </a>

</body>
</html>